[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ
Comment=Java IDE
Exec={{ansible_user_dir}}/Software/idea/bin/idea.sh
Icon={{ansible_user_dir}}/Software/idea/bin/idea.png
Path=
Terminal=false
StartupNotify=true
