# sets the global environment to point to the Oracle JDK

export JDK_HOME={{jvm_destination}}/{{jvm_oracle_jdk_link_destination}}
export JAVA_HOME={{jvm_destination}}/{{jvm_oracle_jdk_link_destination}}
export JAVA_CMD={{jvm_destination}}/{{jvm_oracle_jdk_link_destination}}/bin/java

PATH=$PATH:{{jvm_destination}}/{{jvm_oracle_jdk_link_destination}}/bin
